{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <title>Restaurante Apollo - Squad 02</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'imagens/LOGO Apollo.png' %}" alt="Foto da logo">
        </div> 
        <nav>       
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Sobre nós</a></li>
            </ul>           
        </nav>
        <div>
            <button><a href="#">Fazer reserva</a></button>
        </div>
    </header>
</body>
</html>